@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  /* font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: "Source Han Sans TC", "Noto Sans", "微軟正黑體", Helvetica, Arial, sans-serif;
  background: rgb;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  color: rgb(55,53,54);
  font-size: 16px;
  box-sizing: border-box;
 
}
a {
  text-decoration: none;
  color: #009688;/* rgb(0,191,198); */
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 900px;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
}
.wrapper {
  margin: 0 auto;
  padding:8px;
  box-sizing: border-box;
  position: relative;
  /* background: rgb(236,236,236); */
  /* background: #efedeb; */
}
.l_center {
  text-align: center;
}
.tab {
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgb(53,55,54);
  color: rgb(53,55,54);
  padding: 5px 20px;
  cursor: pointer;
}
.tab--isActive {
  color: white;
  background: rgb(53,55,54);
}
iframe {
  border: 0;
}
.word-cloud-img {
  width: 100%;
}
select, option {
  font-size: 16px;
  padding: 20px;
  margin: 0;
  max-width: 120px;

}
button {
  height: 24px;
}
#copy-text {
  height: 0;
  overflow: hidden;
  background: gray;
}
.saying {
  margin: 10px;
}
.saying--isHighlight {
  background: #80D8FF;
}
.saying--isHighlight2 {
  background: #AED581;
}
.name {
  display: inline-block;
  width: 150px;
  float: left;
}
.paragraph {
  min-width: 80%;
  overflow: hidden;
  _overflow:visible;  zoom:1; 

}

/* ------------------------------------
 * Contribution Brick
 * ------------------------------------ */
.Channel {
  width: 160px;
  position: fixed;
  top: 10px;
  left: 10px;
  overflow: scroll;
  height: 100vh;

}
.Channel-control {
  margin: 10px;

}
.ContributionBrickSection {
  height: 80vh;
  overflow: scroll;
}
.ContributionBrickSection-label {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}
.ContributionBrick {
  border: 1px solid rgb(240,240,240);
  width: 6px;
  height: 6px;
  float: left;
  display: inline-block;
}
.ContributionBrick--highlight {
  background: #0091EA;
}
.ContributionBrick--highlight2 {
  background: #8BC34A;
}

.ProportionBox {
  height: 70px;
  padding-top: 30px;
  width: 100%;
}
.ProportionBox-proportionBrick{
  height: 40px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}
.ProportionBox-proportionBrick-name {
  width: 100%;
  padding: 10px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.ProportionBox-proportionBrick-focusName {
  display: none;
}
.ProportionBox-proportionBrick:hover .ProportionBox-proportionBrick-focusName{
  display: inline-block;
  position: absolute;
  top: -22px;
  left: 2px;
  width: 300px;
}
.ProportionBox-proportionBrick:hover .ProportionBox-proportionBrick-name{
  display: none;
}
.ProportionBox-proportionBrick:hover {
  height: 60px;

}










