<div class="wrapper">
    <div class="page_section">
    <div class="page_intro">
    <a href="#/wordcloud">
       <div class="page_title">文字雲，字詞頻率</div>
       <img class="page_img" src="images/page/wordcloud.png">
    </a>
    </div>
    <div class="page_intro">
    <a href="#/contribution">
       <div class="page_title">貢獻圖</div>
       <img class="page_img" src="images/page/contribution.png">
    </a>
    </div>
    <div class="page_intro">
    <a href="#/proposals">
       <div class="page_title">討論條文聲量比較</div>
       <img class="page_img" src="images/page/proposals.png">
    </a>
    </div>
    <div class="page_intro">
    <a href="#/proposal">
       <div class="page_title">單一條文 explore</div>
       <img class="page_img" src="images/page/proposal.png">
    </a>
    </div>
    </div>

</div>


