<div class="row">
    <div class="wrapper row_inner">
      <div class="part limit">條文</div>
      <div class="part medium">審查結果</div>
      <!-- <div class="part">審查結果條文</div> -->
      <!-- <div class="part limit">政院提案</div> -->
      <div class="part limit">委員提案</div>
      <div class="part wide">討論</div>
    </div>
      
</div>

<div class="wrapper">
    

    <!--  -->
    <div class="page">
    <div class="section" ng-repeat="r in proposals.content">
    	<div class="part limit">{{r.line}}</div>
    	<div class="part medium">{{r.result.decision}}</div>
    	<!-- <div class="part">{{r.result.para}}</div>-->
    	<!-- <div class="part limit">{{r.ey_proposal}}</div> -->
    	<div class="part limit">
    		 <div class="round {{i.party}}" ng-repeat="i in r.ly_proposal"></div>
    	</div> 
    	<div class="part wide">
    	    <div class="sub_part">
    	        <!-- <div>{{r.discuss.length}}</div> -->
    		    <div class="round {{i.speaker_party}}" ng-repeat="i in r.discuss"></div>
    		</div>
    	</div>

    </div>
    </div>
</div>





